header {
    height: 10vh;
    width: 100%;
    background-color: #ffdd02;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: .6rem;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    text-align: center;
}

#image-title {
    height: 70px; 
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    display: none;
}

@media (min-width: 480px) {
    h1{
        display: block;
    }
    header {
        font-size: 1rem; 
        padding: 1rem;
    }
    #image-title {
        height: 90px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media (min-width: 768px) {
    header {
        height: 15vh;
        font-size: 1.5rem;
        padding: 1rem;
        justify-content: start;
        text-align: left;
    }
    #image-title {
        height: 120px;
        margin-left: 50px;
        margin-right: 30px;
    }
}
@media (min-width: 1024px) {
    header {
        height: 20vh;
        font-size: 2em;
        padding: 1.5rem;
    }
    #image-title {
        height: 5rem;
        margin-left: 100px;
        margin-right: 50px;
    }
}


