* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container-pages {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: url('./assets/FondoHome.jpg') no-repeat center center/cover;
    h1{
        font-size: 7rem;
        color: rgb(251, 255, 0);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
    }
}

@media(max-width:768px){
    #container-pages{
        flex-direction: column-reverse;
    }
    #container{
        height: 100vh;
    }
}
@media (max-width: 440px) {
    #container {
        background: url('./assets/Imagen404phone.png') no-repeat center center/cover;
        h1{
            display: none;
        }
    }
}